<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
    <div class="header-details flexcol">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Название домена"/>
      </h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Описание</a>
    <a class="item" data-tab="details">Параметры</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>

    <div class="tab" data-group="primary" data-tab="details">
      <div class="form-group">
        <label>Уровень домена</label>
        <div class="form-fields">
          <input type="number" name="system.level.value" value="{{system.level.value}}" min="1" max="6"/>
        </div>
      </div>

      <div class="form-group">
        <label>Тип домена</label>
        <div class="form-fields">
          <select name="system.domainType.value">
            {{#select system.domainType.value}}
            <option value="малый">Малый (15 способностей)</option>
            <option value="средний">Средний (30 способностей)</option>
            <option value="большой">Большой (45 способностей)</option>
            {{/select}}
          </select>
        </div>
      </div>
    </div>
  </section>
</form>
