<form class="vitruvium {{actor.type}} flexcol" autocomplete="off">
  <!-- Заголовок с портретом и основными данными -->
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
    <div class="header-details flexcol">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Имя NPC"/>
      </h1>
    </div>
  </header>

  <!-- Основные ресурсы (упрощённо для NPC) -->
  <section class="resource-panel grid grid-3col">
    <div class="resource health">
      <label>ЗДОРОВЬЕ</label>
      <div class="resource-control flexrow">
        <input type="number" name="system.health.value" value="{{system.health.value}}" min="0" max="{{system.health.max}}"/>
        <span class="separator">/</span>
        <span class="max">{{system.health.max}}</span>
      </div>
    </div>
    
    <div class="resource inspiration">
      <label>ВДОХНОВЕНИЕ</label>
      <div class="resource-control flexrow">
        <input type="number" name="system.inspiration.value" value="{{system.inspiration.value}}" min="0" max="{{system.inspiration.max}}"/>
        <span class="separator">/</span>
        <span class="max">{{system.inspiration.max}}</span>
      </div>
    </div>
    
    <div class="resource ap">
      <label>ОЧКИ ДЕЙСТВИЙ</label>
      <div class="resource-control flexrow">
        <input type="number" name="system.actionPoints.value" value="{{system.actionPoints.value}}" min="0" max="3"/>
        <span class="separator">/</span>
        <span class="max">3</span>
      </div>
    </div>
  </section>

  <!-- Характеристики (в одну строку) -->
  <section class="attributes-panel flexrow">
    <div class="attribute">
      <label>ТЕЛО</label>
      <input type="number" name="system.attributes.body.value" value="{{system.attributes.body.value}}" min="1" max="6"/>
    </div>
    <div class="attribute">
      <label>ВНИМ</label>
      <input type="number" name="system.attributes.perception.value" value="{{system.attributes.perception.value}}" min="1" max="6"/>
    </div>
    <div class="attribute">
      <label>ДВИЖ</label>
      <input type="number" name="system.attributes.movement.value" value="{{system.attributes.movement.value}}" min="1" max="6"/>
    </div>
    <div class="attribute">
      <label>МЫШЛ</label>
      <input type="number" name="system.attributes.mind.value" value="{{system.attributes.mind.value}}" min="1" max="6"/>
    </div>
    <div class="attribute">
      <label>ВЛИЯ</label>
      <input type="number" name="system.attributes.influence.value" value="{{system.attributes.influence.value}}" min="1" max="6"/>
    </div>
    <div class="attribute">
      <label>ВОЛЯ</label>
      <input type="number" name="system.attributes.will.value" value="{{system.attributes.will.value}}" min="1" max="6"/>
    </div>
  </section>

  <!-- Вкладки (упрощённо) -->
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="items">Предметы</a>
    <a class="item" data-tab="description">Описание</a>
  </nav>

  <section class="sheet-body">
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/vitruvium/templates/actor/parts/actor-inventory.hbs"}}
    </div>
    
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
